.App {
  width: 60%;
  margin: 0 auto;
}
.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.App-header h1 {
  margin: 0px;
}
.App-header button {
  height: 34px;
}
.chat {
  border: 1px solid #c1c1c1;
  position: relative;
  height: calc(100vh - 90px);
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 41px;
  overflow-y: auto;
}
.textarea {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
} 
.textarea textarea {
  width: calc(60% - 74px);
  border: none;
  border-top: 1px solid  #c1c1c1;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #c1c1c1;
  width: 72px;
  text-align: center;
}
button:focus,
button:active {
  outline: none;
}
.users {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 20%;
}
.users ul {
  margin: 0px;
  padding: 15px 0px;
}
.users ul li {
  list-style-type: none;
  margin-bottom: 10px;
  color: green;
  font-weight: bold;
  font-size: 18px;
}
.messages {
  padding: 10px;
}
.message-wrap {
  margin-bottom: 10px;
}
.message {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #c1c1c1;
  width: auto;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
}
.message-wrap.my {
  text-align: right;
}
.message-wrap.my .message {
  background-color: #c1c1c1;
  border: 2px solid #c1c1c1;
}
.date {
  font-size: 12px;
  margin: 3px 0px 0px 10px;
}
.username {
  font-size: 16px;
  color: green;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
