.chat {
  border-right: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  position: relative;
  height: calc(100vh - 52px);
  box-sizing: border-box;
  overflow-y: auto;
  /*padding: 15px;*/
}
.messages-list {
  height: calc(100vh - 162px);
  border-bottom: 1px solid #c1c1c1;
  padding: 15px;
}
.message-wrap.my {
  text-align: right;
  float: right;
}
.message-wrap.my .date {
  float: left;
  margin: 13px 10px 0px 0px;
}
.message-wrap.my .message-user {
  margin-right: 10px;
}
.message-user {
  margin-left: 10px;
  font-size: 14px;
  color: hsl(204, 86%, 53%);
}
.date {
  display: inline-block;
  font-size: 12px;
  margin: 3px 0px 0px 10px;
}

.no-b-padding {
  padding-bottom: 0px;
}
.join-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);
}

/* bulma override */

.notification {
  display: inline-block;
  padding: 10px !important;
  margin-bottom: 0px !important;
}
.menu-label {
  padding: 15px 15px 0px 15px;
}
.textarea {
  min-height: 80px !important;
  max-height: 200px !important;
  resize: none;
}
.message-input {
  box-sizing: border-box;
  padding: 15px;
}
